# Directories
.vs/
.idea/
/bin/
/obj/
/cmake-build-debug/
/cmake-build-release/

# Files
*.sln
*.vcxproj
*.filters
*.user
*.bat
*.jpg
*.jpeg
*.png
*.bmp
*.mtl
*.blend
*.obj
*.ttf
*.ini
*.lock
*.json

conanbuildinfo.premake.lua
conanbuildinfo.txt
conaninfo.txt
conanbuildinfo.cmake

!/resources/devlog/*.png
#!/resources/model/*.obj
!/resources/texture/building.png
!/resources/texture/grass.png
!/resources/texture/r.png
!/resources/texture/c.png
!/resources/texture/i.png
