# Directories
.vs/
.idea/
/bin/
/obj/
/cmake-build-debug/
/cmake-build-release/

# Files
*.sln
*.vcxproj
*.filters
*.user
*.bat
*.jpg
*.jpeg
*.png
*.bmp
*.mtl
*.blend
*.obj
*.ttf
*.ini
*.lock
*.json

conanbuildinfo.premake.lua
conanbuildinfo.txt
conaninfo.txt
conanbuildinfo.cmake

!/resources/devlog/*.png
#!/resources/model/*.obj

!/resources/texture/c.png
!/resources/texture/grass.png
!/resources/texture/i.png
!/resources/texture/info.png
!/resources/texture/lower.png
!/resources/texture/plants.png
!/resources/texture/r.png
!/resources/texture/raise.png
!/resources/texture/roads.png
!/resources/texture/select.png
!/resources/texture/t.png
!/resources/texture/traffic.png

!/resources/water/dudv.png
!/resources/water/normal.png

!/resources/skybox/NissiBeach2/*

!/config.ini
